$color-header: #006400;

$margin: 3em;

$color-hover: #9acd32;

$color-item: yellow;

$color-submenu: #ff7f50;

$text-color: #fff;

$sm: 120px;

@mixin for-sm-up {
    @media screen  and (min-width: 120px){
        @content;
    }
}