* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #555;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  color: white;
  background: linear-gradient(60deg, red, orange);
  text-align: center;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footer {
  background-color: #e5e5e5;
  text-align: center;
  padding: 0.5em;
}

.section {
  width: 100%;
  padding: 0.5em;
  font-size: 1.25em;
}

.section__header {
  text-align: center;
  font-size: 5vw;
}

.navigation {
  width: 100%;
  padding: 0.5em;
}
.nav-list-item {
  list-style-type: none;
  background-color: #808080;
  height: 2em;
  line-height: 2em;
  margin-bottom: 0.5em;
  color: white;
}

.nav-list-link {
  width: 100%;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-list {
  padding: 0;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-weight: 700;
  font-size: 1.125em;
}
.units-list {
  line-height: 1.75em;
}
.news {
  width: 100%;
  padding: 0.5em;
}
img{
  max-width: 100%;
  height: auto;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1200px) {
  .main {
    flex-direction: row;
  }
  .navigation {
    width: 20vw;
  }
  .section {
    width: 60vw;
  }
  .news{
    width: 20vw;
  }
}

@media screen and (max-width: 600px) {
  .info-section {
    display: flex;
  }
  .section {
    width: 80vw;
  }
  .navigation {
    width: 20vw;
  }
}
@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .section {
    width: 100vw;
  }
  .navigation {
    width: 100vw;
  }
  .section {
    width: 100vw;
  }
}