@import "variables.scss";
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.square {
  height: 100px;
  width: 100px;
  background-color: coral;
  margin: 8px;

  @include for-st-up{
      background-color: #ff7f50;
  }
  @include for-medium-up {
    background-color: #a61;
  }
  @include for-large-up {
    background-color: #8a2be2;
  }
  @include for-lg-small{
      background-color: #c47;
  }
}
@media (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .container {
    flex-direction: column;
  }
}
