$st: 320px;
$sm: 600px;
$md: 900px;
$lg: 1200px;

@mixin for-st-up {
  @media screen and (min-width: $st) {
    @content;
  }
}
@mixin for-medium-up {
  @media screen and (min-width: $sm) {
    @content;
  }
}
@mixin for-large-up {
  @media screen and (min-width: $md) {
    @content;
  }
}
@mixin for-lg-small {
  @media screen and (min-width: $lg) {
    @content;
  }
}
