* {
  box-sizing: border-box;
}
.block {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  background-color: coral;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  animation: move 2s;
  position: absolute;
  animation-fill-mode: backwards;
  left: calc(50vh - 50px);
}
@keyframes move {
  from {
    top: calc(50vh - 50px);
  }
  to {
    top: 100px;
  }
}
