@import "breakpoints.scss";
* {
  box-sizing: border-box;
}
.square {
  height: 100px;
  width: 100px;
  background-color: coral;
  margin: 16px;

  @include for-medium-up {
    background-color: coral;
  }
  @include for-medium-up {
    background-color: #8a2b8a;
  }
  @include for-large-small {
    background-color: #a61;
  }
  @include for-large-up {
    background-color: #c47;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}
@media (orientation: portrait) {
  .container {
    flex-direction: column;
  }
}
