main {
  display: flex;
  background-size: cover;
}
picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: contain;
  max-width: 100%;
  height: auto;
  margin: auto;
}
