.header{
    background-color: darkturquoise;
    line-height: 40px;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
li{
    color: white;
    display: inline-block;
    margin-left: 16px;
    text-decoration: none;
}

.head{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: aquamarine;
    left: calc(50% - 100px);
    right: 0;
    margin: 0;
    top: calc(50% - 100px);
}
.ear{
    height: 60px;
    width: 40px;
    background-color: brown;
}
.ear_left{
    position: absolute;
    top: -60px;
    left: -40px;
}
.ear_right{
    position: absolute;
    top: -60px;
    left: 200px;
}
.eye{
    background-color: gray;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
}
.eye_left{
    position: absolute;
    top: 80px;
    left: 40px;
}
.eye_right{
    position: absolute;
    top: 80px;
    right: 40px;
}