.spinner{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.spinner-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s infinite;
    position: relative;
}
.rect{
    position: absolute;
    background-color: black;
    width: 10px;
    height: 4px;
    border-radius: 2px;
    animation-duration: alternate;
    animation-iteration-count: infinite;
    animation:  blinking;
    animation: move 2s infinite;
}