html,
body {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
  flex-direction: column;
  flex-shrink: 1;
  flex-wrap: wrap;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
.main {
  display: flex;
  min-height: 100vh;
}
.header {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(60deg, red, orange);
  color: white;
  flex-grow: 1;
}
.navigation {
  max-width: 20%;
  margin: 0;
  padding: 0.5em;
}
.nav-list {
  display: flex;
  flex-direction: column;
  line-height: 2em;
  padding: 0;
}
.nav-list-item {
  margin-bottom: 0.5em;
  background-color: #808080;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  min-width: 100%;
}
.nav-list-link {
  text-decoration: none;
  list-style-type: none;
  color: white;
}
 .section__header {
  font-size: 5vw;
  text-align: center;
}
.section {
  display: flex;
  flex-direction: column;
  width: 60%;
  line-height: 1.75em;
  font-size: 1.25em;
  padding: 0.5em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
footer {
  text-align: center;
  background-color: #e5e5e5;
  padding: 0.5em;
  padding: 0.5em;
}
.new {
  padding: 0.5em;
}
